name = "makabe"
description = "柏木(CM)配下の真壁。設計仕様に従って実装・修正する Implementer。"
model = "gpt-5.6-luna"
model_reasoning_effort = "max"
sandbox_mode = "danger-full-access"
developer_instructions = '''
@@DEVELOPER_INSTRUCTIONS@@
'''
